<!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" data-scrollto-offset="0" style="background-color:gainsboro"  >
        <div class="container-fluid d-flex align-items-center justify-content-center">

            <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->                
                @*    <img src="~/assets/img/logo.png" alt="Pc DakLak" />*@
                
                @*<h1><span>PC DAKLAK</span></h1>*@
            </a>

            <nav id="navbar" class="navbar align-items-center justify-content-between">
                <ul style="align-content">
                    <li><a class="nav-link scrollto" style="color: darkblue" a href="/">Home</a></li>
                    <li><a class="nav-link scrollto" style="color: darkblue" href="/dieudong">Điều động phương tiện</a></li>
                    <li><a class="nav-link scrollto" style="color: darkblue" href="/Notfound">Báo cáo giao ban tuần</a></li>
                    <li><a class="nav-link scrollto" style="color: darkblue" href="/Notfound">Thu điểm</a></li>
                    <li><a class="nav-link scrollto" style="color:blue" href="/admin">Đăng nhập</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle d-none"></i>
            </nav><!-- .navbar --> 
        </div>
    </header><!-- End Header -->