 <!-- ======= Footer ======= -->
<footer id="footer" class="footer">  


    <div class="footer-legal text-center ">
        <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Công ty Điện lực Đắk Lắk</span></strong>. Designed by <a href="https://pcdaklak.cpc.vn/" target="_blank">PCDAKLAK</a>
                </div>                
            </div>
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <a href="/Admin" target="_blank">
                    <strong><span>Quản trị</span></strong>
                </a>
            </div>

        </div>
    </div>

</footer><!-- End Footer -->