 
<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
        <img src="assets/img/hero-carousel/hero-carousel-3.svg" class="img-fluid animated">
        <h2>Welcome to <span>Web điều hành PcDakLak</span></h2>
    </div>
</section>